.promo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0; /* Eliminate the padding on the sides */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-family: Arial, sans-serif;
  width: 100vw; /* Asegura que ocupe todo el ancho de la ventana */
  height: 100px;
  margin-top: 150px; /* Adjust this value if needed to ensure it is below the header */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  overflow: hidden; /* Hide any overflow content */
  position: fixed;
  top: 0;
  left: 0;
}

.promo__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%; /* Adjust the width as needed */
}


.promo__message {
display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px; /* Space between message and timer */
}

.promo__timer {
  font-size: 20px;
}